@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

input[type="color"] {
  margin-bottom: 2rem;
}

input[type="range"] {
  width: 300px;
  margin-bottom: 2rem;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  background-color: #3564f3; /* Warna latar belakang slider */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #6e35f3; /* Warna thumb slider */
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50; /* Warna thumb slider */
  cursor: pointer;
  border-radius: 50%;
}
